.titulo-pagina {
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #00008b;
    margin: 10px;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 10px 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    align-content: space-evenly;
    margin: 0px 30px 0 30px;
}

.botao:hover {
    background-color: chocolate;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}

.titulovoltar {
    font-size: xx-large;
}


.nome-da-propriedade {
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000ff;
    padding: 20px;
}

.nome-da-propriedade-shorthand {
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    padding: 20px;
}

.valor-da-propriedade {
    font-size: 1, 5em;
    font-weight: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    padding: 30px 0 5px;
}


hr {
    margin: 15px;
}

.bloco1 {
    background-color: #add8e6;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco2 {
    background-color: #ffb6c1;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco3 {
    background-color: #ff0000;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco-1-sem-altura {
    background-color: #add8e6;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco-2-sem-altura {
    background-color: #ffb6c1;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco-3-sem-altura {
    background-color: #ff0000;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco-1-fontes-diferentes {
    background-color: #add8e6;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;

}

.bloco-2-fontes-diferentes {
    background-color: #ffb6c1;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.bloco-3-fontes-diferentes {
    background-color: #ff0000;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    border: #000 0.1px solid;
}

.container {
    display: flex;
    flex-direction: row;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-row {
    display: flex;
    flex-direction: row;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-column {
    display: flex;
    flex-direction: column;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.justify-content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.justify-content-flexstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.justify-content-flexend {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.justify-content-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.justify-content-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.justify-content-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-items-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-items-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: flex-start;
    /*linha do eixo secundario */
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-items-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: flex-end;
    /*linha do eixo secundario */
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-items-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: stretch;
    /*linha do eixo secundario */
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-items-baseline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: baseline;
    /*linha do eixo secundario */
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-nowrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    flex-wrap: nowrap;
    /* sem quebra de texto*/
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    flex-wrap: wrap;
    /* sem quebra de texto*/
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-wrap-reverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    flex-wrap: wrap-reverse;
    /* sem quebra de texto*/
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-flexflow-row-nowrap {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: nowrap; */
    flex-flow: row nowrap;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-content-center {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    align-content: center;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-content-flex-start {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    align-content: flex-start;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-content-flex-end {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    align-content: flex-end;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-between {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    align-content: space-between;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-around {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    align-content: space-around;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}

.container-align-content-space-evenly {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: center;
    /*linha do eixo principal */
    align-items: center;
    /*linha do eixo secundario */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    align-content: space-evenly;
    /* indiferente */
    background-color: #faebd7;
    padding: 16px;
    height: 500px;
}